$color-base: rgba(250, 250, 250, 1);
$color-primary: rgba(255, 208, 0, 1);
$color-dark: rgba(24, 24, 24, 1);
$color-aqua: rgb(110, 211, 177);

$media-xs: 360px;
$media-small: 480px;
$media-medium: 760px;
$media-large: 990px;
$media-xl: 1200px;
$media-xxl: 1400px;

$font-family-titles: "Roboto", sans-serif;
$font-family-paragraph: "Raleway", "Roboto", sans-serif;

$fs-html-base: 62.5%;
$fs-h1: 3.2rem;
$fs-h2: 2.65rem;
$fs-h3: 2.15rem;
$fs-p: 1.6rem;

$fw-regular: 400;
$fw-sbold: 600;
$fw-bold: 700;
