// Navbar branding
.navbar {
  @include flex-container($just: space-between);
  width: 100%;
  background-color: $color-dark;
  color: white;
  // padding-inline: 4rem;
  // padding-block: 1.6rem;
}

.navbar__brand {
  @include flex-container($spacing: 1rem);
  margin: 1rem;
}

.navbar__brand-name {
  font-size: 2.5rem;
}

.navbar__icon,
.navbar__cart-img,
.navbar__menu-img,
#close-btn {
  fill: white;
}

.navbar__icon,
.navbar__cart-img,
.navbar__menu-img,
#close-btn {
  width: 3rem;
}

// Navbar Link's style
.navbar__links {
  @include flex-container($spacing: 3.2rem);
}

.navbar__links {
  @include media($media-large) {
    & p {
      font-size: 1.4rem;
      letter-spacing: 0.7px;
    }
    gap: 2rem;
  }
  @include media($media-medium) {
    display: none;
  }
}

.navbar__icons {
  @include flex-container($spacing: 1rem);
}

.navbar__menu {
  display: none;
  @include media($media-medium) {
    display: block;
  }
}

// Navbar cart
.navbar__cart {
  @include positionig(relative);
  display: inline-block;
  padding: 0.5em;
  width: 45px;
  height: 45px;
  & svg {
    width: 100%;
    height: 100%;
  }
}
.navbar__cart-count {
  @include positionig(absolute, $top: 0px, $right: 0px);
  @include counter;
}

.navbar__link-title{
  text-align: center;
}
