.carrito {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem;
  // border: 1px solid red;
  font-size: $fs-p;
}

.carrito-headings,
.carrito-row-data {
  display: grid;
  grid-template-columns: 100px 20ch repeat(4, 1fr);
}

.carrito-headings {
  background-color: $color-primary;
  color: $color-dark;
  font-weight: $fw-sbold;
}
.carrito-row-data,
.carrito-headings {
  padding: 0.6rem;
  place-content: center;
  place-items: self-start;
}

.carrito-row-data {
  font-size: 0.9em;
  align-items: center;
}

.product-img {
  width: 50px;
  & img {
    width: 100%;
    object-fit: scale-down;
  }
}

.product-data {
  padding: 1rem;
}
