*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body, h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

p, a, li, span {
  font-family: "Raleway", "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.65rem;
  font-weight: 700;
}

h3 {
  font-size: 2.15rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-weight: none;
}

body {
  min-height: 100vh;
}

.container-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding: 0 4rem;
}
@media only screen and (max-width: 990px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 760px) {
  .container {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 1.4rem;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    padding: 0 0.5rem;
  }
}

.container-layout > * {
  border: 1px solid red;
}

body {
  background-color: rgb(250, 250, 250);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  gap: none;
  width: 100%;
  background-color: rgb(24, 24, 24);
  color: white;
}

.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 1rem;
  margin: 1rem;
}

.navbar__brand-name {
  font-size: 2.5rem;
}

.navbar__icon,
.navbar__cart-img,
.navbar__menu-img {
  fill: white;
}

.navbar__icon,
.navbar__cart-img,
.navbar__menu-img {
  width: 3rem;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 3.2rem;
}

@media only screen and (max-width: 990px) {
  .navbar__links {
    gap: 2rem;
  }
  .navbar__links p {
    font-size: 1.4rem;
    letter-spacing: 0.7px;
  }
}
@media only screen and (max-width: 760px) {
  .navbar__links {
    display: none;
  }
}

.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 1rem;
}

.navbar__menu {
  display: none;
}
@media only screen and (max-width: 760px) {
  .navbar__menu {
    display: block;
  }
}

.navbar__cart {
  position: relative;
  display: inline-block;
  padding: 0.5em;
}

.navbar__cart-count {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: none;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.3rem;
  background-color: red;
  border-radius: 8px;
  color: white;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
