body {
  min-height: 100vh;
}

.container-layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding: 0 4rem;
  
  @include media($media-large) {
    padding: 0 3rem;
  }
  @include media($media-medium){
    padding: 0 2rem;
  }
  @include media($media-small){
    padding: 0 1.4rem;
  }
  @include media($media-xs){
    padding: 0 .5rem;
  }
}

// TODO: Just for test - delete or comment on production
.container-layout > * {
  border: 1px solid red;
}
